name: Build and Test

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.13", "3.12", "3.11", "3.10"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          uv sync --all-extras --dev

      - name: Run Build and Install
        run: |
          uv build && uv install

      - name: Test coverage
        run: |
          uv run pytest ./tests --cov=autotable --cov-context=test --cache-clear

  tests-e2e:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.13", "3.12"]
    runs-on: ${{ matrix.os }}
    env:
      PYTHONIOENCODING: utf-8
    permissions:
      contents: read
      issues: read
    steps:
      # Init
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install package
        run: |
          pip install -e .

      # Test
      - name: Test clean
        run: autotable clean
      - name: Test doctor
        run: autotable doctor
      - name: Test backup
        run: autotable issue-backup gouzil/autoTable 18 ${{ secrets.GITHUB_TOKEN }}
      - name: Test Update
        run: autotable issue-update gouzil/autoTable 18 ${{ secrets.GITHUB_TOKEN }} --dry-run
      - name: Test Update Stats
        run: autotable issue-update-stats gouzil/autoTable 18 ${{ secrets.GITHUB_TOKEN }} --dry-run
      - name: Test doctor
        run: autotable doctor
      - name: Test clean again
        run: autotable clean
