name: CodeStyle Check

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  code-style-check:
    runs-on: ubuntu-latest
    name: CodeStyle Check
    strategy:
      matrix:
        python-version: ["3.13", "3.12", "3.11", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
